{% extends "base.html" %}
{% block title %}Approve Scores{% endblock %}
{% block content %}
    <div class="w3-container">
            
        <!-- Display Pending Scores "not played, pending, approved"-->
        <div class="w3-container">
            <h4>Pending Scores</h4>
            <hr>

            <ul class="nav nav-tabs">
                {% for division_id in reported_matches %}
                    {% if division_id == 1 %}
                        <li class="active"><a data-toggle="tab" href="#division{{division_id}}">Division {{division_id}}</a></li>
                    {% else %}
                        <li><a data-toggle="tab" href="#division{{division_id}}">Division {{division_id}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="tab-content">

                {% for division_id in reported_matches %}
                    {% if division_id == 1 %}
                        <div id="division{{division_id}}" class="tab-pane fade in active">
                    {% else %}
                        <div id="division{{division_id}}" class="tab-pane fade">
                    {% endif %}

                        <table class="w3-table-all">
                            <tr>
                                <th>Deadline</th><th>Player 1</th><th>P1 Score</th><th></th>
                                <th>P2 Score</th><th>Player 2</th><th>Update</th>
                            </tr>
        
                            {% for match in reported_matches[division_id] %}
                                <tr id="match_data_{{match['match_id']}}">
                                    <td>{{ match["deadline"].strftime("%a, %b %d") }}</td>
                                    <td>{{ match["user_1_name"] }}</td>
                                    {% if match["status"] != None %}
                                        <td contenteditable="true">{{ match["score_user_1"] }}</td>
                                        <td><strong> - </strong></td>
                                        <td contenteditable="true">{{ match["score_user_2"] }}</td>
                                    {% else %}
                                        <td contenteditable="true"></td>
                                        <td><strong> - </strong></td>
                                        <td contenteditable="true"></td>
                                    {% endif %}
                                    <td>{{ match["user_2_name"] }}</td>
                                    <td>
                                        {% if match["status"] == "approved" %}
                                            <button class="w3-button w3-circle w3-green" onclick="updatePendingScores({{match['match_id']}})">
                                                &#10004
                                            </button>
                                        {% else %}
                                            <button class="w3-button w3-circle w3-gray" onclick="updatePendingScores({{match['match_id']}})">
                                            Approve</button>
                                        {% endif %}
                                    </td>
                                    
                                </tr>
                            {% endfor %}
        
                        </table>

                        </div>
                            
                {% endfor %}
            </div>

            <div class="w3-container w3-margin-top">
                <button onclick="document.location = './../'" class="w3-button w3-round w3-orange w3-left">Back to Admin Page</button>
            </div>

        </div>
           
    </div>
    
    <script type="text/javascript">
        function updatePendingScores(match_id)
        {
            let matchData = document.getElementById(`match_data_${match_id}`);

            let payload = {
                "score_user_1": parseInt(matchData.cells[2].innerText),
                "score_user_2": parseInt(matchData.cells[4].innerText),
                "match_id": match_id
            }
            
            sendHTTPRequest("POST", document.URL, payload)
                    .then((response) => {
                        response = JSON.parse(response);
                        if (!response.success) 
                        {
                            alert(response.message);
                        } else 
                        {
                            matchData.cells[6].innerHTML = `<button class="w3-button w3-circle w3-green" onclick="updatePendingScores(${match_id})">&#10004</button>`;
                        }
                    })
                    .catch((err) => { alert(err.message); })
        }
    </script>

{% endblock %}