{% block content %}
    <div class="w3-container">

        <div class="w3-container w3-twothird">

            <div class="w3-container">
            </div>

            <div class="w3-container">
            </div>

        </div>

        <div class="w3-container w3-third">
            
            <!-- Display Pending Scores "not played, pending, approved"-->
            <div class="w3-container">
                <h4>Pending Scores</h4>
                <hr>

                <table class="w3-table-all">
                    <tr>
                        <th>Match ID</th>
                        <th>Player 1</th>
                        <th>P1 Score</th>
                        <th>P2 Score</th>
                        <th>Player 2</th>
                        <th>Status</th>
                        <th>Update</th>
                    </tr>

                    {% for match in reported_matches %}
                        <tr id="match_data"+{{match["match_id"]}}>
                            <td>{{ match["match_id"] }}</td>
                            <td>{{ match["player_one"] }}</td>
                            <td contenteditable="true">{{ match["p1_score"] }}</td>
                            <td contenteditable="true">{{ match["p2_score"] }}</td>
                            <td>{{ match["player_two"] }}</td>
                            <td>{{ match["status"] }}</td>
                            <td>{{ onclick="updatePendingScores(match_id)" }}</td>
                            
                        </tr>
                    {% endfor %}


                </table>

            </div>

        </div>
           
    </div>
    
    <script type="text/javascript">
        function updatePendingScores(match_id)
        {
            match_data = document.getElementById("match_data"+match_id);
            let payload = {
                "score_user_1": match_data.cells[2].innerText,
                "score_user_2": match_data.cells[3].innerText,
                "match_id": match_id
            }
            sendHTTPRequest("POST", document.URL, payload)
                    .then((response) => {
                        response = JSON.parse(response);
                        if (!response.success) 
                        {
                            alert(response.message);
                        } else 
                        {
                            match_data.cells[5] = response.message;
                        }
                    })
                    .catch((err) => { alert(err.message); })
        }
    </script>

{% endblock %}