{% extends "base.html" %}
{% block title %}{{league_info["league_name"]}} Admin Panel{% endblock %}
{% block content %}

    <style>
        button {
            width: 75%;
            margin: 3px;
        }

        button.inactive {
            cursor: not-allowed;
        }

    </style>

    <div class="w3-container">
        <div class="w3-center large_portrait_margins">
            <h4>{{league_info["league_name"]}} Admin Panel</h4>
            <hr>
            <!-- <button class="w3-button w3-large w3-round w3-gray inactive">Change League Info</button> -->
            <br />
            {% if league_info["league_status"] == "accepting_users" %}
            <button class="w3-button w3-large w3-round w3-green" onclick="document.location = 'approve-members/'">View & Approve Members</button>
            {% else %}
            <button class="w3-button w3-large w3-round w3-green" onclick="document.location = 'manage-members/'">Manage League Members</button>
            {% endif %}
            <br />

            {% if league_info["league_status"] == "accepting_users" or league_info["league_status"] == "awaiting_admin_greenlight" %}
            <button class="w3-button w3-large w3-round w3-green" onclick="document.location = 'start-league/'">Start League</button>
            {% else %}
            <button class="w3-button w3-large w3-round w3-gray inactive">Start League</button>
            {% endif %}
            <br />

            {% if league_info["league_status"] == "league_in_progress" %}
            <button class="w3-button w3-large w3-round w3-green" onclick="document.location = 'match-reports/'">View & Approve Scores</button>
            {% else %}
            <button class="w3-button w3-large w3-round w3-gray inactive">View & Approve Scores</button>
            {% endif %}
            <br />

            <!-- {% if league_info["league_status"] == "league_matches_completed" %}
            <button class="w3-button w3-large w3-round w3-green">Start Playoffs</button>
            {% else %}
            <button class="w3-button w3-large w3-round w3-gray inactive">Start Playoffs</button>
            {% endif %}
            <br />

            {% if league_info["league_status"] == "in_playoffs" %}
            <button class="w3-button w3-large w3-round w3-green">View Playoffs</button>
            {% else %}
            <button class="w3-button w3-large w3-round w3-gray inactive">View Playoffs</button>
            {% endif %}
            <br /> -->

            <button class="w3-button w3-large w3-round w3-red" onclick="document.location = 'delete-league/'">Delete the League</button>
            <br />
        </div>
    </div>

{% endblock %}