{% extends "base.html" %}
{% block title %}Delete League{% endblock %}
{% block content %}
    <div class="w3-container">
        <h2>Delete {{league_name}}</h2>
        <hr>
        Are you sure you want to delete this league?
        <br>
        <br>
        <input type="text" id="target_league" placeholder="Enter League Name" style="width:100%">
        

        <div class="w3-container w3-center">
            <div class="w3-bar">
                <br>
                <button class="w3-button w3-red" onclick="confirmDeletion({{league_id}},'{{league_name}}')">Yes</button>
                <button onclick="document.location = './../'" class="w3-button w3-blue">No</button>

            </div>
        </div>
        
    </div>

    <script type="text/javascript">
        function confirmDeletion(league_id, league_name)
        {
            let target_league = document.getElementById(`target_league`);

            let payload = {}
            
            if (league_name == target_league.value)
            {
                sendHTTPRequest("POST", document.URL, payload)
                    .then((response) => {
                        response = JSON.parse(response);
                        if (!response.success) 
                        {
                            alert(response.message);
                        } else 
                        {
                            alert(response.message);
                            document.location = '/league'
                        }
                    })
                    .catch((err) => { alert(err.message); })

            }

            else alert("Invalid League Name!")

        }
    </script>

{% endblock %}