{% extends "base.html" %}
{% block title %}Delete League{% endblock %}
{% block content %}
    <div class="w3-container large_portrait_margins">
        <h2>Delete {{league_name}}</h2>
        <hr>
        Caution! Deleting a league is permanent. Please type the name of the league in order to confirm the deletion.
        <br>
        <br>
        <input type="text" id="target_league" placeholder="{{league_name}}">
        
        <div class="w3-container">
            <div class="w3-bar">
                <br>
                <button onclick="document.location = './../'" class="w3-button w3-blue w3-left">No, Changed My Mind</button>
                <button class="w3-button w3-red w3-right" onclick="confirmDeletion({{league_id}},'{{league_name}}')">Yes, Delete the League</button>
            </div>
        </div>
        
    </div>

    <script type="text/javascript">
        function confirmDeletion(league_id, league_name)
        {
            let target_league = document.getElementById(`target_league`);

            let payload = {}
            
            if (league_name == target_league.value)
            {
                sendHTTPRequest("POST", document.URL, payload)
                    .then((response) => {
                        response = JSON.parse(response);
                        if (!response.success) 
                        {
                            alert(response.message);
                        } else 
                        {
                            alert(response.message);
                            document.location = '/league'
                        }
                    })
                    .catch((err) => { alert(err.message); })

            }

            else alert(`'${target_league.value}' doesn't match '${league_name}'`);

        }
    </script>

{% endblock %}