{% extends "base.html" %}
{% block title %}Manage Members{% endblock %}
{% block content %}
    <div class="w3-container large_portrait_margins w3-center">

        <p class="w3-container">
            <strong>{{league_info["league_name"]}} Members</strong>
            <hr>
        </p>

        <div class="w3-container">

            <table class="w3-table-all" id="table_join_requests">

                {% set question_ids = league_info["additional_questions"].keys() %}
                <thead>
                    <tr>
                        <th>Player Name</th>
                        {% for question_id in question_ids %}
                        <th>{{league_info["additional_questions"][question_id]["question"]}}</th>
                        {% endfor %}
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <!-- {% set ns = namespace(num_approved_players = 0) %} -->
                <tbody>
                    {% for join_request in join_requests %}
                        {% if join_request["status"] in available_statuses %}
                            <tr id="response_{{join_request['user_id']}}">
                                <td>{{join_request["name"]}}</td>
                                {% for question_id in question_ids %}
                                <td>{{join_request[question_id]}}</td>
                                {% endfor %}
                                <td>
                                    <select name="{{join_request['user_id']}}" onchange="updatePlayerStatus({{join_request['user_id']}}, this)" required>
                                        {% for league_status in available_statuses %}
                                            {% if league_status == join_request["status"] %}
                                                <option value="{{league_status}}" selected>{{league_status | title}}</option>
                                            {% else %}
                                                <option value="{{league_status}}">{{league_status | title}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td id="update_status_{{join_request['user_id']}}"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                
            </table>
            <br />
            <!-- <p><span id="num_players">{{ns.num_approved_players}}</span> active players / {{league_info["max_num_players"]}} possible players</p>
            <br /> -->
            <button onclick="document.location = './../'" class="w3-button w3-round w3-orange w3-left">Back to Admin Page</button>
            <button onclick="saveTableChanges();" class="w3-button w3-round w3-green w3-right">Save Changes</button>

        </div>
        
    </div>

    <script type="text/javascript">

        let state = {payload: {}};

        function updatePlayerStatus(playerID, inputElement) {
            state.payload[playerID] = inputElement.value;
        }

        function saveTableChanges() {
            sendHTTPRequest("POST", document.URL, state.payload)
                .then((response) => {
                    response = JSON.parse(response);
                    if (!response.success) {
                        alert(response.message);
                    } else {
                        let updatedStatuses = response.message;
                        Object.keys(updatedStatuses).forEach((userID) => {
                            document.getElementById(`update_status_${userID}`).innerText = `Updated at ${(new Date()).toTimeString().split(/\s+/)[0]}`;
                            highlightElement(`response_${userID}`);
                        });
                        state.payload = {};
                    }
                })
                .catch((err) => { alert(err.message); });
        }
    
    </script>

{% endblock %}

