{% extends "base.html" %}
{% block title %}Notifications{% endblock %}
{% block content %}

    <style>
        td {
            border-bottom: gray solid thick;
            border-top: gray solid thick;
            border-left: gray solid thin;
            border-right: gray solid thin;
        }
    </style>

    <div class="w3-container large_portrait_margins">
        <h4>Notifications</h4>

        <hr />
        <div class="w3-responsive">
        <table class="w3-table">
    
            {% for notification in notifications %}
    
                {% if notification["notification_status"] == "delivered" %}
                    <tr style="font-weight:bold;" id="notif_{{notification['notification_id']}}">
                {% else %}
                    <tr id="notif_{{notification['notification_id']}}">
                {% endif %}
                    
                    <td>{{notification["league_name"]}}</td>
                    <td>{{notification["notification_text"]}}</td>
                    <td>{{notification["created_at"].strftime("%a, %b %d %I:%M %p")}}</td>
                    <td>
                        <button class="w3-button w3-circle w3-green" onclick="updateNotificationStatus({{notification['notification_id']}}, 'seen')">
                            <span class="glyphicon glyphicon-check"></span>
                        </button>
                    </td>
                    <!-- <td>
                        <button class="w3-button w3-circle w3-gray" onclick="updateNotificationStatus({{notification['notification_id']}}, 'archived')">
                            <span class="glyphicon glyphicon-folder-close"></span>
                        </button>
                    </td> -->
                    <td>
                        <button class="w3-button w3-circle w3-red" onclick="updateNotificationStatus({{notification['notification_id']}}, 'deleted')">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
    
                </tr>
    
            {% endfor %}
    
        </table>
        </div>

    </div>

    <script>
        function updateNotificationStatus(notificationID, notificationStatus) {
            sendHTTPRequest("POST", document.URL, {notification_id: notificationID, notification_status: notificationStatus})
                .then((response) => {
                    response = JSON.parse(response);
                    if (!response.success) {
                        alert(response.message);
                    } else {
                        if (notificationStatus === "seen") {
                            document.getElementById(`notif_${notificationID}`).style.fontWeight = "normal";
                        } else {
                            document.getElementById(`notif_${notificationID}`).innerHTML = "";
                        }
                    }
                })
                .catch((err) => { alert(err.message); })
        }
    </script>

{% endblock %}