{% extends "base.html" %}
{% block content %}
    <div class="w3-container large_portrait_margins">

        <h4>Your Account (@{{user["net_id"]}})</h4>

        <hr />      

        <form method="POST" action="{{url_for('user.update_user_profile')}}">

            <label for="name">Display Name (appears in the League Games): </label>
            <input type="text" value="{{user['name']}}" name="name" required>
            <br />
            <br />
            

            <label for="email">Email: </label>
            <input type="email" value="{{user['email']}}" name="email" required>
            <br />
            <br />

            <label for="room">Campus Room:</label>
            <input type="text" value="{{user['room']}}" name="room" required>
            <br />
            <br />

            <label for="phone_num">Phone Number (xxx-xxx-xxxx):</label>
            <input type="tel" value="{{user['phone_num']}}" name="phone_num" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
            <br />
            <br />

            <button class="w3-btn w3-round w3-green">Update Account Info</button>
        </form>
        
    </div>

{% endblock %}