<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - TigerLeagues</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='src/AppUtilities.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('auth.index')}}">TigerLeagues</a>
    </div>
    {% if session.get("user") %}
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Leagues <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% block dropdown_league_list %}
            
              {% for league_info in session.get("user")["associated_leagues"] %}
                <li>
                    <a href="{{url_for('league.league_homepage', league_id=league_info['league_id'])}}">{{league_info["league_name"]}} ({{league_info["status"]}})</a>
                </li>  
              {% endfor %}
              <li><a href="{{url_for('league.browse_leagues')}}" class="w3-green">Join or Create League!</a></li>
            {% endblock %}
        
        </ul>
      </li>
      <li class="w3-right"><a href="{{url_for('auth.cas_logout')}}"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
      <!-- <button class="btn btn-danger navbar-btn">Button</button> -->
    </ul>
    {% endif %}
  </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-bottom" style="display: none">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Fixtures</a></li>
        <li><a href="#">Group</a></li>
        <li><a href="#">Playoffs</a></li>
      </ul>
    </div>
  </nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

</body>
</html>