<!doctype html>
<title>{% block title %}{% endblock %} - TigerLeagues</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
<nav>
  <h1><a href="{{ url_for('league.home') }}">TigerLeagues</a></h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  <button align='left'><b>Join OR Create a League</b></button>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
