{% extends "league/member_stats/league_comparison_base.html" %}

{% block comparison_data %}

    <div class="w3-container w3-card">
        <h4>{{other_user["name"]}}</h4>
        <hr>
        <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{other_user['net_id']}}@princeton.edu" target="_blank">{{other_user['net_id']}}@princeton.edu</a></p>
        <p><span class="glyphicon glyphicon-earphone"></span> <a href="tel:+1-{{other_user['phone_num']}}">+1-{{other_user['phone_num']}}</a></p>
        <p><span class="glyphicon glyphicon-map-marker"></span> {{other_user['room']}}</p>
        {% for question_id, question_object in league_info["additional_questions"].items() %}
            <hr>    
            <strong>{{question_object["question"]}}: </strong>
            {{current_user_responses[question_id]}}
            <br>
        {% endfor %}
    </div>

    <div class="w3-container w3-card" style="flex: 2 1 0;">
        <table class="w3-table" style="text-align:center;">
            <tr class="w3-large">
                <th></th>
                <th>You</th>
                <th>{{other_user["name"]}}</th>
            </tr>
            <tr>
                <td class="w3-large">Rank</td>
                {% if current_user_stats["rank"] < other_user_stats["rank"] %}
                    <td class="large-text bold-text win-text">{{current_user_stats["rank"]}}</td>
                    <td class="large-text bold-text loss-text">{{other_user_stats["rank"]}}</td>
                {% else %}
                    <td class="large-text bold-text loss-text">{{current_user_stats["rank"]}}</td>
                    <td class="large-text bold-text win-text">{{other_user_stats["rank"]}}</td>
                {% endif %}
            </tr>

            <tr>
                <td class="w3-large">Points</td>
                {% if current_user_stats["points"] > other_user_stats["points"] %}
                    <td class="large-text bold-text win-text">{{current_user_stats["points"]}}</td>
                    <td class="large-text bold-text loss-text">{{other_user_stats["points"]}}</td>
                {% else %}
                    <td class="large-text bold-text loss-text">{{current_user_stats["points"]}}</td>
                    <td class="large-text bold-text win-text">{{other_user_stats["points"]}}</td>
                {% endif %}
            </tr>

            <tr>
                <td class="w3-large">Form</td>
                {% for player_form in [current_user_stats["player_form"], other_user_stats["player_form"]] %}
                    <td class="">
                    {% for abbrev_score in player_form %}
                        {% if abbrev_score[0] == "W" %}
                            <span class="box bold-text win-box">
                        {% elif abbrev_score[0] == "L" %}
                            <span class="box bold-text loss-box">
                        {% elif abbrev_score[0] == "D" %}
                            <span class="box bold-text draw-box">
                        {% endif %}
                        {{abbrev_score[1]}} - {{abbrev_score[2]}}</span>
                    {% endfor %}
                    </td>
                {% endfor %}
            </tr>

        </table>
    </div>

    {% if head_to_head | length > 0 %}
    <div class="w3-container w3-card">
        <h5>Head to Head Stats</h5>
        <table class="w3-table" style="text-align:center;">
            <tr><td></td><td>You</td><td></td><td>{{other_user["name"]}}</td></tr>
            {% for match_result in head_to_head %}
                <tr>
                <td>{{match_result["deadline"].strftime("%a, %b %d")}}</td>
                {% if match_result["my_score"] < match_result["opponent_score"] %}
                    <td class="bold-text loss-text">{{match_result["my_score"]}}</td><td>-</td><td class="bold-text loss-text">{{match_result["opponent_score"]}}</td>
                {% elif match_result["my_score"] > match_result["opponent_score"] %}
                    <td class="bold-text win-text">{{match_result["my_score"]}}</td><td>-</td><td class="bold-text win-text">{{match_result["opponent_score"]}}</td>
                {% else %}
                    <td class="bold-text draw-text">{{match_result["my_score"]}}</td><td>-</td><td class="bold-text draw-text">{{match_result["opponent_score"]}}</td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    <div class="w3-container w3-card">
        <table class="w3-table" style="text-align:center;">
            <tr class="w3-large">
                <th>Mutual Opponent</th>
                <th>Your Results</th>
                <th>{{other_user["name"]}}'s Results</th>
            </tr>
            {% for opponent_id in current_user_stats["mutual_opponents"] %}
            <tr>
                {% set current_user_encounters = current_user_stats["mutual_opponents"][opponent_id] %}
                {% set other_user_encounters = other_user_stats["mutual_opponents"][opponent_id] %}
                <td><a href="../{{opponent_id}}">{{current_user_encounters[0]["opponent_name"]}}</a></td>
                {% for encounters in [current_user_encounters, other_user_encounters] %}
                    <td id="id{{opponent_id}}_{{loop.index}}">
                        {% for match in encounters %}
                            {% if match["my_score"] < match["opponent_score"] %}
                                <span class="bold-text loss-text">
                            {% elif match["my_score"] > match["opponent_score"]  %}
                                <span class="bold-text win-text">
                            {% else %}
                                <span class="bold-text draw-text">
                            {% endif %}
                            {{match["my_score"]}} - {{match["opponent_score"]}}
                            </span>

                        {% endfor %}

                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
            
        </table>
    </div>

{% endblock %}