{% extends "base.html" %}

{% block content %}

    <div class="w3-container large_portrait_margins">

        <div class="w3-container">

            <h3 class="w3-container">{% block title %}Create New League{% endblock %}</h3>
            <hr>

            <div class="w3-container" id="create_league_form">

                <label for="league_name">What is the name of the league?</label>
                <input 
                    type="text" name="league_name" id="league_name" maxlength="50" placeholder="Badminton Fall 2018" required>
                <br />
                <br />

                <label for="description">Describe the league in 1-3 sentences</label>
                <br />
                <input id="description" type="text" name="description" placeholder="We play badminton at Dillon Gym">
                <br />
                <br />

                <label for="points_per_win">How many points is a win worth?</label>
                <input 
                    type="number" name="points_per_win" id="points_per_win" placeholder="3" required>
                <br />
                <br />

                <label for="points_per_draw">How many points is a draw worth?</label>
                <input 
                    type="number" name="points_per_draw" id="points_per_draw" placeholder="1" required>
                <br />
                <br />

                <label for="points_per_loss">How many points is a loss worth?</label>
                <input 
                    type="number" name="points_per_loss" id="points_per_loss" placeholder="0" required>
                <br />
                <br />

                <label for="match_frequency_in_days">How frequent are the games (in days)? e.g. if the games are weekly, enter 7</label>
                <input 
                    type="number" name="match_frequency_in_days" id="match_frequency_in_days" placeholder="7" required>
                <br />
                <br />

                <p>
                    Registration will be closed once the max number of players is reached or the 
                    registration deadline passes (whichever happens first)
                </p>
                <br />

                <label for="registration_deadline">When is the registration deadline?</label>
                <input 
                    type="date" name="registration_deadline" id="registration_deadline" required>
                <br />
                <br />

                <label for="max_num_players">What's the maximum number of participants?</label>
                <input 
                    type="number" name="max_num_players" id="max_num_players" min="1" step="1" placeholder="30" required>
                <br />
                <br />

                <div id="additional_questions_container"></div>

                <button class="w3-btn w3-green" onclick="sendCreateLeagueForm();">Create League</button>
                <br />
                <br />

            </div>

            <div class="w3-container">
                <p><strong>Add a question that you'd like players to answer before they join your league</strong></p>
                <hr>

                <p>Question</p>
                <input type="text" placeholder="e.g. Do you own a racket?" id="additional_question">
                <br />
                <br />

                <p>Valid Responses (separate them using comas)</p>
                <input type="text" placeholder="e.g. Yes, No" id="valid_responses">
                <br />
                <br />

                <button class="w3-btn w3-blue" onclick="addNewQuestion()">Add Question</button>
            </div>

        </div>
        
    </div>

    <script>

        /**
         * @description Helpful global variables
         */
        let state = {
            additionalQsnID: 0,
            additionalQuestionsJSON: {},
            inputElements: [
                document.getElementById("league_name"),
                document.getElementById("description"),
                document.getElementById("points_per_win"),
                document.getElementById("points_per_draw"),
                document.getElementById("points_per_loss"),
                document.getElementById("registration_deadline")
            ],
            additionalQuestionsContainer: document.getElementById("additional_questions_container"),
            additionalQuestionElement: document.getElementById("additional_question"),
            additionalOptionsElement: document.getElementById("valid_responses")
        }

        /**
         * @description Register a new question that will new league members will 
         * have to answer.
         */
        function addNewQuestion() {
            let question = state.additionalQuestionElement.value;
            let validOptionsString = state.additionalOptionsElement.value;
            let questionID = state.additionalQsnID;

            state.additionalQuestionsContainer.insertAdjacentHTML(
                "beforeend",
                `
                <div id='extraQsn${questionID}'>
                    <div>
                        <button 
                            onclick="removeQuestion(${questionID})"
                            class='w3-button w3-hover-red w3-right'>Delete Field
                        </button>
                    </div>
                    <p>[Question]: <em>${question}</em></p>
                    <p>[Options]: <em>${validOptionsString}</em></p>
                    <hr>
                </div>`
            );

            state.additionalQuestionsJSON[`question${questionID}`] = {
                question: question, options: validOptionsString
            };

            state.additionalQsnID = questionID + 1;

            state.additionalQuestionElement.value = "";
            state.additionalOptionsElement.value = "";
        }

        /**
         * @description De-register a question that new league members would 
         * have had to answer.
         */
        function removeQuestion(questionID) {
            state.additionalQuestionsContainer.removeChild(
                document.getElementById(`extraQsn${questionID}`)
            );
            delete state.additionalQuestionsJSON[`question${questionID}`];
        }

        /**
         * @description Collect the info needed to create a league. Send it to 
         * the server for further processing.
         */
        function sendCreateLeagueForm() {

            let payload = {};
            for (let i = 0; i < state.inputElements.length; i++) {
                if (state.inputElements[i].checkValidity()) {
                    let element = state.inputElements[i];
                    if (element.type === "checkbox") {
                        payload[element.name] = element.checked;
                    } else {
                        payload[element.name] = element.value;
                    }
                } else {
                    state.inputElements[i].reportValidity();
                    return;
                }
            }
            payload.additional_questions = state.additionalQuestionsJSON;

            sendHTTPRequest("POST", "/league/create", payload, contentType="application/json")
                .then((response) => {
                    let responseObject = JSON.parse(response);
                    if (responseObject.success) {
                        alert(`League created. Invite Link: ${responseObject.message.invite_url}`);
                        window.location = `/league/${responseObject.message.league_id}`
                    } else {
                        alert(`Error: ${responseObject.message}`);
                    }
                })
                .catch((err) => { console.error(err); });
        }

    </script>

{% endblock %}