{% extends "base.html" %}
{% block title %}Join {{league_info["league_name"]}}{% endblock %}
{% block content %}
    <div class="w3-container large_portrait_margins w3-center">

        <p class="w3-container">
            <strong>Join {{league_info["league_name"]}}</strong>
            <hr>
            <strong>Description: </strong><em>{{league_info["description"]}}</em>
            <br />
            <br />
            <strong>Scoring (pts): </strong>
            <em>
                win = {{ league_info["points_per_win"] }}, 
                draw = {{ league_info["points_per_draw"] }}, 
                loss = {{ league_info["points_per_loss"] }}, 
            </em>
            <br />
            <br />
            <p>Registration Deadline: {{ league_info["registration_deadline"].strftime("%A, %B %d, %Y") }}</p>
            <p>Frequency: {{league_info["num_games_per_period"]}} game(s) every {{league_info["length_period_in_days"]}} day(s).</p>
            <hr>
        </p>

        <form class="w3-container" method="POST">

            {% if league_info["additional_questions"] %}
            
            <p>
            {% if session.get("user")["associated_leagues"][league_info["league_id"]] %}
                Welcome back! Your league status ({{session.get("user")["associated_leagues"][league_info["league_id"]]["status"]}}) 
                will be maintained, but your previous responses to the questions below will be overwritten.
            {% else %}
                Please answer the following questions:
            {% endif %}
            </p>

            <hr />

                {% for question_id, question_object in league_info["additional_questions"].items() %}
                    
                    <p>{{question_object["question"]}}</p>
                    
                    {% for option in question_object["options"].split(", ") %}
                        <input type="radio" name="{{question_id}}" id="{{option}}" value="{{option}}" required>
                        <label for="{{option}}">{{option}}</label>
                    {% endfor %}

                    <hr>
                    
                {% endfor %}

            {% endif %}

            <button class="w3-button w3-btn w3-green">Request to Join League</button>
            <hr>

            <p>Once the admin approves your request, we'll notify you.</p>

        </form>
        
    </div>

{% endblock %}