{% extends "base.html" %}

{% block title %}{{league_info["league_name"]}}{% block sub_title %}{% endblock %}{% endblock %}

{% block content %}
    <div class="w3-container large_portrait_margins w3-center">
        <div>
            <h3>{{league_info["league_name"]}}</h3>
            <hr />
            <em>{{league_info["description"]}}</em>
            <br />
            <br />
            <strong>Scoring (pts): </strong>
            <em>
                win = {{ league_info["points_per_win"] }}, 
                draw = {{ league_info["points_per_draw"] }}, 
                loss = {{ league_info["points_per_loss"] }}, 
            </em>
            <br />
            <br />
            <p>Frequency: {{league_info["num_games_per_period"]}} game(s) every {{league_info["length_period_in_days"]}} day(s).</p>
            <br />
            {% if league_info["league_status"] == "accepting_users" %}
            <p>Registration Link: <a href='{{url_for("league.join_league", league_id=league_info["league_id"], _external=True)}}'>{{url_for("league.join_league", league_id=league_info["league_id"], _external=True)}}</a></p>
            {% endif %}
            
            <hr />

        </div>
        
        {% block league_content %}{% endblock %}
           
    </div>

{% endblock %}