{% extends "league/league_base.html" %}

{% block sub_title %} Standings{% endblock %}

{% block league_content %}
    <div class="w3-container">

        {% if league_info["league_status"] == "league_in_progress" %}

        <div class="w3-container w3-half">

            <div class="w3-container">
                <h4>{{league_name}} Standings</h4>

                <ul class="nav nav-tabs">
                    {% for division_id in standings %}
                        {% if division_id == user_division_id %}
                            <li class="active"><a data-toggle="tab" href="#division{{division_id}}">Division {{division_id}}</a></li>
                        {% else %}
                            <li><a data-toggle="tab" href="#division{{division_id}}">Division {{division_id}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <div class="tab-content">

                    {% for division_id in standings %}
                        {% if division_id == user_division_id %}
                            <div id="division{{division_id}}" class="tab-pane fade in active">
                        {% else %}
                            <div id="division{{division_id}}" class="tab-pane fade">
                        {% endif %}

                        <table class="w3-table-all">
                            <tr>
                                <th>Rank</th><th></th><th>Player Name</th>
                                <th>W</th><th>L</th><th>D</th>
                                <th>GF</th><th>GA</th><th>GD</th>
                                <th>PTS</th>
                            </tr>
                            {% for standing in standings[division_id] %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        {% if standing["rank_delta"] %}
                                            {% if standing["rank_delta"] > 0 %}
                                                <span style="color:rgb(2, 187, 2);">&#9650;</span> {{ standing["rank_delta"] }}
                                            {% elif standing["rank_delta"] < 0 %}
                                                <span style="color:red;">&#9660;</span> {{ standing["rank_delta"] | abs }}
                                            {% endif %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td><a href="{{url_for('league.league_member', league_id=league_id, other_user_id=standing['user_id'])}}">{{ standing["name"] }}</a></td>
                                    <td>{{ standing["wins"] }}</td>
                                    <td>{{ standing["losses"] }}</td>
                                    <td>{{ standing["draws"] }}</td>
                                    <td>{{ standing["goals_for"] }}</td>
                                    <td>{{ standing["goals_allowed"] }}</td>
                                    <td>{{ standing["goal_diff"] }}</td>
                                    <td>{{ standing["points"] }}</td>
                                </tr>
                            {% endfor %}
        
                        </table>

                        </div>
                                
                    {% endfor %}

                </div>
            </div>

            <div class="w3-container">
            </div>

        </div>

        <div class="w3-container w3-half">

            <!-- Display reported scores-->
            <div class="w3-container">
                <h4>Current Matches</h4>
                <hr>

                <table class="w3-table-all">
                    <tr>
                        <th>Deadline</th>
                        <th>Your Score</th>
                        <th></th>
                        <th>Their Score</th>
                        <th>Opponent</th>
                        <th></th>
                    </tr>

                    {% for match in current_matches %}
                        <tr id="match_data_{{match['match_id']}}">
                            <td>{{ match["deadline"].strftime("%a, %b %d") }}</td>
                            {% if match["status"] == "approved" %}
                                <td class="w3-center">{{match['my_score']}}</td>
                                <td class="w3-center"><strong> - </strong></td>
                                <td class="w3-center">{{match['opponent_score']}}</td>
                            {% elif match["status"] == "pending_approval" %}
                                <td contenteditable="true" class="w3-center">{{match['my_score']}}</td>
                                <td class="w3-center"><strong> - </strong></td>
                                <td class="w3-center" contenteditable="true">{{match['opponent_score']}}</td>
                            {% else %}
                                <td contenteditable="true" class="w3-center"></td>
                                <td class="w3-center"><strong> - </strong></td>
                                <td class="w3-center" contenteditable="true"></td>
                            {% endif %} 
                            <td><a href="{{url_for('league.league_member', league_id=league_id, other_user_id=match['opponent_id'])}}">{{ match["opponent_name"] }}</a></td>
                            <td class="w3-center">
                                {% if match["status"] == "approved" %}
                                    <span style="color: green">Approved</span>
                                {% else %}
                                    <button class="w3-button w3-blue" onclick="updateReportedScores({{match['match_id']}})">
                                        Update
                                    </button>
                                {% endif %}
                            </td>     
                        </tr>
                    {% endfor %}
                        

                </table>

            </div>

        </div>

        {% else %}

        <div class="w3-container flexbox">
            {% if league_info["league_status"] == "awaiting_admin_greenlight" %}
                <p>{{league_info["league_name"]}} has not yet started</p>
            {% elif league_info["league_status"] == "accepting_users" %}
                <p>{{league_info["league_name"]}} has not yet started</p>
            {% elif league_info["league_status"] == "league_matches_completed" %}
                <p>{{league_info["league_name"]}} has ended</p>
            {% endif %}
        </div>

        {% endif %}
           
    </div>

    <script type="text/javascript">
        function updateReportedScores(match_id)
        {
            let matchData = document.getElementById(`match_data_${match_id}`);

            let payload = {
                my_score: parseInt(matchData.cells[1].innerText),
                opponent_score: parseInt(matchData.cells[3].innerText),
                match_id: match_id
            }
            sendHTTPRequest("POST", "submit-score/", payload)
                    .then((response) => {
                        response = JSON.parse(response);
                        if (!response.success) {
                            alert(response.message);
                        } else {
                            if (response.message.match_status == "pending_approval") {
                                alert("Score Submitted")
                            }
                            if (response.message.match_status == "approved") {
                                matchData.cells[4].innerHTML = `<span style="color: green">Approved</span>`;
                            }
                        }
                    })
                    .catch((err) => { alert(err.message); })
        }
    </script>

{% endblock %}