{% extends "base.html" %}

{% block title %}League Standings{% endblock %}

{% block content %}
    <div class="w3-container">

        <div class="w3-container w3-twothird">

            <div class="w3-container">
                <h1>{{league_name}}</h1>
                <h4>League Standings</h4>
                <table class="w3-table-all">
                    <tr>
                        <th>Player Name</th>
                        <th>W</th>
                        <th>L</th>
                        <th>D</th>
                        <th>GF</th>
                        <th>GA</th>
                        <th>GD</th>
                        <th>PTS</th>
                    </tr>
                    {% for standing in standings %}
                        <tr>
                            <td>{{ standing["name"] }}</td>
                            <td>{{ standing["wins"] }}</td>
                            <td>{{ standing["losses"] }}</td>
                            <td>{{ standing["draws"] }}</td>
                            <td>{{ standing["goals_formed"] }}</td>
                            <td>{{ standing["goals_allowed"] }}</td>
                            <td>{{ standing["goal_diff"] }}</td>
                            <td>{{ standing["points"] }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
            </div>

            <div class="w3-container">
            </div>

        </div>

        <div class="w3-container w3-third">
            
            <!-- Display the coming fixtures -->
            <div class="w3-container">
                <h4>Your Upcoming Matches</h4>
                <hr>

                <table class="w3-table-all">
                    <tr>
                        <th>Versus</th>
                        <th>Deadline</th>
                        <th>Venue</th>
                        <th>League</th>
                    </tr>
                    {% for match in upcoming_matches %}
                        <tr>
                            <td>{{ match["opponent"] }}</td>
                            <td>{{ match["deadline"] }}</td>
                            <td>{{ match["venue"] }}</td>
                            <td>{{ match["league_name"] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- Display reported scores-->
            <div class="w3-container">
                <h4>Report Scores</h4>
                <hr>

                <table class="w3-table-all">
                    <tr>
                        <th>Opponent</th>
                        <th>Deadline</th>
                        <th>Your Score</th>
                        <th>Opponent Score</th>
                        <th>Status</th>
                        <th></th>
                    </tr>

                    {% for match in report_scores %}
                        <tr id="match_data_{{match[3]}}">
                            <td>{{ match[0] }}</td>
                            <td>{{ match[1] }}</td>
                            <td contenteditable="true"></td>
                            <td contenteditable="true"></td>
                            <td>{{ match[2] }}</td> 
                            <td>
                                <button class="w3-button w3-circle w3-blue" onclick="updateReportedScores({{match[3]}})">
                                    
                                </button>     
                        </tr>
                    {% endfor %}
                        

                </table>

            </div>

        </div>
           
    </div>

    <script type="text/javascript">
        function updateReportedScores(match_id)
        {
            let matchData = document.getElementById(`match_data_${match_id}`);

            let payload = {
                "score_user_1": matchData.cells[2].innerText,
                "score_user_2": matchData.cells[3].innerText,
                "match_id": match_id
            }
            sendHTTPRequest("POST", document.URL, payload)
                    .then((response) => {
                        response = JSON.parse(response);
                        if (!response.success) 
                        {
                            alert(response.message);
                        } else 
                        {
                            matchData.cells[5].innerHTML = `<button class="w3-button w3-circle w3-green" onclick="updatePendingScores(${match_id})">&#10004</button>`;
                        }
                    })
                    .catch((err) => { alert(err.message); })
        }
    </script>

{% endblock %}