{% extends "base.html" %}
{% block content %}
    <div class="w3-container large_portrait_margins w3-center">

        <p class="w3-container">
            <h3><strong>{{league_info["league_name"]}}</strong></h3>
            <br />
            <strong>Description: </strong><em>{{league_info["description"]}}</em>
            <br />
            <br />
            <strong>Scoring (pts): </strong>
            <em>
                win = {{ league_info["points_per_win"] }}, 
                draw = {{ league_info["points_per_draw"] }}, 
                loss = {{ league_info["points_per_loss"] }}, 
            </em>
            <br />
            <br />
            <p>Registration Deadline: {{ league_info["registration_deadline"].strftime("%A, %B %d, %Y") }}</p>
            <p>Frequency: 1 game every {{league_info["match_frequency_in_days"]}} days.</p>
        </p>

        <form class="w3-container" method="POST">

            <hr />

            {% if league_info["additional_questions"] %}

            <p><strong>League Questions:</strong></p>

            <hr />

                {% for question_id, question_object in league_info["additional_questions"].items() %}
                    
                    <p>{{question_object["question"]}}</p>
                    
                    {% for option in question_object["options"].split(", ") %}
                        <input type="radio" name="{{question_id}}" id="{{option}}" value="{{option}}" required>
                        <label for="{{option}}">{{option}}</label>
                    {% endfor %}

                    <hr>
                    
                {% endfor %}

            {% endif %}

            <button class="w3-button w3-btn w3-green">Update Responses</button>
            <hr>

        </form>
        
    </div>

{% endblock %}