.large_portrait_margins {
    margin: 5% 10%;
}

input {
    margin: 2%;
    border: none;
    border-bottom: thin solid rgb(180, 178, 178);
}

input[type="text"] {
    width: 100%;
}

input[type="email"] {
    width: 100%;
}

.flash {
    margin: auto;
    background-color: lightblue;
    text-align: center;
    width: 75%;
    padding: 1%;
    border: rgb(46, 192, 192) thin solid;
    border-radius: 4px;
}
