body {
    background-image: url("../img/default_background.png");
    background-repeat: repeat;
}

#main_div {
    margin: 2% 4% 4% 4%; 
    border-radius: 5px; 
    background-color: rgb(255, 255, 255);
    opacity: 0.75;
}

.large_portrait_margins {
    margin: 2% 4%;
}

input {
    margin: 2%;
    border: none;
    border-bottom: thin solid rgb(180, 178, 178);
}

input[type="text"] {
    width: 100%;
}

input[type="email"] {
    width: 100%;
}

[contenteditable="true"] {
    margin: 2%;
    background-color: white;
    border: thin solid black;
}

.flash {
    margin: auto;
    background-color: lightblue;
    text-align: center;
    width: 75%;
    padding: 1%;
    border: rgb(46, 192, 192) thin solid;
    border-radius: 4px;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
